.faqWidget {
	font-family: 'Cora';
}
.faqWidget h6.faqHead {
	font-size: 40px;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: 6px;
	text-transform: uppercase;
}
.faqWidget h6 > span,
.faqWidget h6.faqHead > small {
	color: #787878;
	font-size: 28px;
	font-weight: 400;
	line-height: 50px;
	font-variant: small-caps;
	letter-spacing: 0.7px;
}
.faqWidget h6.faqHead > small {
	color: #121212;
}
.faqWidget .AccordionStyle {
	font-family: 'AvenirNext';
}

/* Static Page */
.staticBanner,
.staticTermsBanner {
	padding: 244px 0px 29px 0px;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	position: relative;
}
.staticBanner:before,
.staticTermsBanner:before {
	content: '';
    width: 100%;
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
	background: linear-gradient(180deg, #000 -39.63%, rgba(0, 0, 0, 0.64) -14.22%, rgba(0, 0, 0, 0.00) 25.64%, rgba(0, 0, 0, 0.00) 71.2%, rgba(0, 0, 0, 0.55) 113.58%);
	/* url(<path-to-image>), lightgray 0px -302.047px / 100% 296.933% no-repeat */
}
.StaticPageDisclim .staticTermsBanner:before {
	background: linear-gradient(180deg, #000 -39.63%, rgba(0, 0, 0, 0.15) -3.34%, rgba(0, 0, 0, 0.00) 37.39%, rgba(0, 0, 0, 0.09) 73.05%, rgba(0, 0, 0, 0.55) 117.98%), linear-gradient(0deg, rgba(23, 87, 75, 0.40) 0%, rgba(23, 87, 75, 0.40) 100%);
}
.StaticPageInvest .staticBanner:before {
	background: linear-gradient(358deg, rgba(1, 1, 1, 0.61) -7.32%, rgba(255, 255, 255, 0.00) 65.3%);
}
.StaticPageInvest .staticBanner {
	background-position: -84px -431.139px;
	background-size: 107.931% 299.667%;	
}
.StaticPageRera .staticTermsBanner:before {
	background: linear-gradient(180deg, #000 -39.63%, rgba(0, 0, 0, 0.64) -26.58%, rgba(0, 0, 0, 0.00) 30.57%, rgba(0, 0, 0, 0.09) 76.75%, rgba(0, 0, 0, 0.55) 113.26%), linear-gradient(0deg, rgba(23, 87, 75, 0.40) 0%, rgba(23, 87, 75, 0.40) 100%);
}
.staticTermsBanner:before {
	/* background: linear-gradient(180deg, #000 -39.63%, rgba(0, 0, 0, 0.64) -26.38%, rgba(0, 0, 0, 0.00) 21.14%, rgba(0, 0, 0, 0.00) 72.35%, rgba(0, 0, 0, 0.55) 111.55%), linear-gradient(0deg, rgba(23, 87, 75, 0.40) 0%, rgba(23, 87, 75, 0.40) 100%); */
	background: linear-gradient(180deg, #000 -39.63%, rgba(0, 0, 0, 0.64) -26.58%, rgba(0, 0, 0, 0.00) 17.88%, rgba(0, 0, 0, 0.09) 66.75%, rgba(0, 0, 0, 0.63) 105.37%), linear-gradient(0deg, rgba(23, 87, 75, 0.40) 0%, rgba(23, 87, 75, 0.40) 100%);
}
.StaticPagePolicy .staticBanner::before {
	background: linear-gradient(180deg, #000 -39.63%, rgba(0, 0, 0, 0.64) -26.58%, rgba(0, 0, 0, 0.00) 17.88%, rgba(0, 0, 0, 0.09) 66.75%, rgba(0, 0, 0, 0.63) 105.37%), linear-gradient(0deg, rgba(23, 87, 75, 0.40) 0%, rgba(23, 87, 75, 0.40) 100%);
}
h6.staticHeadText {
	text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	color: #fff;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: 6px;
	text-transform: uppercase; 
}
h6.staticHeadText > span {
	color: #fff;
}

h1.staticHeadText {
	/* text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	color: #fff;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: 6px;
	text-transform: uppercase; */
	font-size: 40px;
	font-weight: 400;
	line-height: 125%;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #fff;
}
h1.staticHeadText > span {
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px;
	font-variant: small-caps;
	letter-spacing: 0.7px;
	text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	color: #fff;
	margin-right: 8px;
}
.StaticPageInvest h1.staticHeadText {
	text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.paraPaddingHead {
	color: #17574B;
	font-size: 28px;
	font-family: 'Cora';
	font-weight: 400;
	line-height: 35px;
	font-variant: small-caps;
	letter-spacing: 0.7px;
	margin-bottom: 40px;
}
.paraPadding {
	font-family: 'AvenirNext';
	padding-block: 24px;
	border-bottom: 1px dashed #787878;
}
.paraPadding:nth-last-of-type(1) {
	border: 0;
	padding-bottom: 0;
}
.paraPadding h6 {
	font-size: 20px;
	color: #121212;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.5px;
}
.paraPadding p {
	font-size: 16px;
	color: #121212;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.4px;
}
.paraPadding p > a {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.4px;
	text-decoration-line: underline;
	color: #121212;
}
.paraPadding li {
	font-size: 16px;
	color: #121212;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.4px;
}
.sliderCarousel {
	display: flex;
	flex-wrap: nowrap;
	gap: 24px;
	background-color: #EFEFEF;
}
.sliderContent {
	padding: 1rem;
	padding-left: 0;
	flex: 0 0 auto;
    width: 65%;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
}
.sliderMedia img {
	object-fit: cover;
	/* min-height: 357px; */
}
.swiperBtnN,
.swiperBtnP {
	display: inline-block;
	position: absolute;
    top: auto;
	bottom: 0;
	z-index: 2;
}
.swiperBtnN {
	left: 35%;
}
.swiperBtnP {
	left: auto;
	right: 35%;	
}
/* invest */
.investGravityHead {
	text-align: center;
	margin-bottom: 130px;
}
.investGravityHead h2 {
	font-size: 44.915px;
	color: #17574B;
	font-weight: 500;
	line-height: 56.143px;
	font-variant: small-caps;
	letter-spacing: 1.123px;
}
.investGravityHead h6 {
	font-size: 26.91px;
	font-family: 'AvenirNext';
	font-weight: 400;
	line-height: 33.637px;
	letter-spacing: 3.498px;
	text-transform: uppercase;
}
.gridInvestGravity {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-auto-rows: 1fr;
	gap: 54px 83px;
	grid-auto-flow: row;
	grid-template-areas:
		". . ."
		". . .";	
	margin-bottom: 129px;  
} 
.gridCols {
	display: flex;
	gap: 14px;
}
.gridColsMedia {
	width: 60px;
}
.gridColsContent {
	flex: 1 0;
	padding-right: 50px;
}
.gridColsContent h5 {
	font-size: 20.612px;
	color: #000;
	font-weight: 500;
	line-height: 25.765px;
	font-variant: small-caps;
	letter-spacing: 0.515px;
	margin-bottom: 24px;
}
.gridColsContent p {
	font-size: 14.99px;
	color: #121212;
	font-weight: 400;
	line-height: 22.486px;
	letter-spacing: 0.375px;
	font-family: 'AvenirNext';
}
.gridInvestorsSec {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-auto-rows: 1fr;
	gap: 58px;
	grid-auto-flow: row;
	grid-template-areas:
		". . .";	
	margin-bottom: 140px;  
}
.gridInvestors {
	padding: 48px 37px 27px;
	border: 1px solid #000;
}
.gridInvestors h6 {
	font-size: 20px;
	font-family: 'AvenirNext';
	color: #000;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 2.6px;
	text-transform: uppercase;
	border-bottom: 2px solid #E19C5C;
	padding: 0 28px 6.5px;
	width: 85%;
    margin: 0 auto 28px;
    text-align: center;
}
.gridInvestors ul {
	list-style: decimal;
	padding-left: 1rem;
	margin-bottom: 0;
	font-family: 'AvenirNext';
}
.gridInvestors ul li {
	font-size: 14.99px;
	color: #121212;
	font-weight: 400;
	line-height: 22.486px;
	letter-spacing: 0.375px;
}
.gridInvestors ul.showMore {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 9;
			line-clamp: 9; 
	-webkit-box-orient: vertical;
}
.gridInvestors ul.showLess {
	margin-bottom: 1rem;
}
.gridInvestorsLink {
	background: #fff;	
    padding: 24px 16px 8px;
    text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -3px;
    z-index: 1;
    position: relative;
	box-shadow: 0px -18px 15px -8px rgb(255 255 255);
}
.gridInvestorsLink button {
	font-size: 14.074px;
	font-family: 'AvenirNext';
	color: #121212;
	font-weight: 500;
	line-height: 21.111px;
	letter-spacing: 0.352px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 11.259px;
	background-color: #fff;
	border: 0;
	outline: 0;
	text-align: center;
}
/* Sitempa */
.sitemap_block {
	padding-block: 28px;
}
.sitemap_lists {
	margin-bottom: 64px;
}
.sitemap_lists__heading {	
	font-family: 'AvenirNext';
	font-size: 25px;
	font-weight: 500;
	line-height: 37.5px;
	letter-spacing: 0.025em;
	color: #000;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.sitemap_list__flex {
	list-style: none;
	padding: 0;
	margin: 0;
}
.sitemap_list__flex li,
.sitemap_list__flex li a {
	font-family: 'AvenirNext';
	padding-bottom: 13px;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.025em;
	color: #000;
}

/* Sitempa */
.sitemap_block {
	padding-block: 28px;
}
.sitemap_lists {
	margin-bottom: 64px;
}
.sitemap_lists__heading {	
	font-family: 'AvenirNext';
	font-size: 25px;
	font-weight: 500;
	line-height: 37.5px;
	letter-spacing: 0.025em;
	color: #000;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.sitemap_list__flex {
	list-style: none;
	padding: 0;
	margin: 0;
}
.sitemap_list__flex li,
.sitemap_list__flex li a {
	font-family: 'AvenirNext';
	padding-bottom: 13px;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.025em;
	color: #000;
}

@media screen and (max-width: 768px) {
	.staticBanner,
	.staticTermsBanner {
		padding: 229px 16px 16px 16px;
	}
	.staticTermsBanner h6.staticHeadText,
	h6.staticHeadText,
	h6.staticHeadText > span {
		font-size: 28px;
		line-height: 35px;
		font-variant: small-caps;
		letter-spacing: 0.7px;	
		text-align: center !important;
	}
	.paraPadding:nth-of-type(1) {
		padding-top: 8px;
	}
	.paraPadding {
		padding-bottom: 10px;
	}
	.paraPadding p,
	.paraPadding h6,
	.paraPadding li {
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 0.35px;
	}
	.paraPaddingHead {
		font-size: 14px;
		font-weight: 500;
		line-height: 21px;
		letter-spacing: 0.35px;
		font-variant: normal;
		font-family: 'AvenirNext';
	}
	.swiperSlider_style {
		padding-inline: 46px;
	}
	.sliderCarousel {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.sliderContent {
		width: 100%;
	}
	.sliderMedia {
		width: 100% !important;
		height: 232px !important;
	}
	.swiperBtnN {
		top: 50%;
		left: 0;
	}
	.swiperBtnP {
		top: 50%;
		right: 0;
	}
	.faqWidget h6.faqHead {
		font-size: 28px;
		line-height: 35px;
		font-variant: small-caps;
		letter-spacing: 0.7px;
		text-align: center!important;
	}
	.faqWidget h6.faqHead > span {
		display: none;
	}
	/* invest */
	.StaticPageInvest .staticBanner {
		background-position: 50%;
		background-size: cover;	
	}
	.investGravityHead { 
		margin-bottom: 60px;
	}
	.investGravityHead h2 {
		font-size: 28px;
		font-weight: 500;
		line-height: 35px;
		font-variant: small-caps;
		letter-spacing: 0.7px;
	}
	.investGravityHead h6 {
		font-size: 20px;
		font-weight: 400;
		line-height: 25px;
		font-variant: small-caps;
		letter-spacing: 3px;
	}
	.gridInvestGravity {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;		
		gap: 16px 16px;		
		grid-template-areas:
			". ."
			". ."
			". .";	
		margin-bottom: 48px;  
		padding-inline: 16px;
	}
	.gridColsContent p {
		font-size: 7.018px;
		font-weight: 400;
		line-height: 10.526px;
		letter-spacing: 0.175px;
	}
	.gridColsContent h5 {
		font-size: 9.649px;		
		font-weight: 500;
		line-height: 12.062px;
		font-variant: small-caps;
		letter-spacing: 0.241px;
		margin-bottom: 12px;
	}
	.gridCols {
		gap: 9px;
	} 
	.gridColsContent {	
		padding-right: 0px;
	}
	.gridColsMedia {	
		width: 27px;
	}
	.gridInvestorsSec {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-auto-rows: 1fr;
		gap: 24px;
		grid-auto-flow: row;
		grid-template-areas:
			"."
			"."
			".";	
		margin-bottom: 48px;  
		padding-inline: 12px;
	}
	.sitemap_lists__heading {
		font-size: 28px;
		font-weight: 500;
		line-height: 35px;
		letter-spacing: 0.025em;
		font-family: 'Cora';
		margin-bottom: 24px;
	}
	.sitemap_list__flex li,
	.sitemap_list__flex li a {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.025em;		
		padding-bottom: 8px;
	}
	.sitemap_lists {
		margin-bottom: 32px;
	}


}