.gravityHomeBanner {
	position: relative;
}
.gravityBg {
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc( 100dvh - 40px );
}
.gravityBg h2 {
	font-size: 28px;
	color: #fff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: 400;
	line-height: 35px;
	font-variant: small-caps;
	letter-spacing: 0.7px;	
	border-left: 4px solid #17574B;
    padding-left: 24px;
}
.gravityBg h2 > span {
	font-size: 40px;
	color: #fff;
	font-weight: 400;
	line-height: 125%;
	letter-spacing: 6px;
	text-transform: uppercase;
}
.homeBanner {
	position: relative;
}

/* Chatbot */
.chatBox {
	position: relative;
	z-index: 2;
}
.chatBox button {
	border: 1px solid #17574B;
	background-color: #17574B;
	padding: 12px;
	border-radius: 100%;
	width: 64px;
    height: 64px;
    box-shadow: none;
    position: fixed;
    right: 4rem;
    bottom: 3rem;
}
.chatBox button:hover {
	border-color: #003125;
	background-color: #003125;
}
.chatBotWidget {
	width: 429px;
	height: 480px;
	overflow: hidden;
	position: fixed;
	right: -439px;
    bottom: 5rem;
    z-index: 1;
    background: rgba(18, 18, 18, 0.65);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(17.5px);
	font-family: 'AvenirNext';
	transition: right 0.3s ease-in-out;
}
.chatBotWidgettt {
	right: 6rem;
}
.chatbotHeader {
	padding: 8px 16px;
	background-color: #121212;
}
.chatbotHeader h4 {
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.5px;
	color: #fff;
}
.chatBotWidget button {
	background-color: transparent;
	padding: 0;
	margin: 0;
	position: relative;
    right: 0;
    top: 0;
    bottom: auto;
	width: 16px;
	height: 16px;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 0;
}
.chatBotWidget button:hover {
	background-color: transparent;
}
.chatbotContent {
	padding: 24px 16px 0px;
	color: #fff;
}
.chatInfoTxt {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.4px;
}
.chatbotTimeStamp {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.3px;
	color: #C6E2D5;
	margin-bottom: 16px;
	text-align: center;
	position: relative;
}
.chatbotTimeStamp span {
	position: relative;
	width: 100%;
    display: block;
}
.chatbotTimeStamp span::after,
.chatbotTimeStamp span::before {
	content: '';
	background: #787878;
    width: 98px;
    height: 1px;
    display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.chatbotTimeStamp span::after {
	right: 0;
}
.chatbotTimeStamp span::before {
	left: 0;
}
.chatbotOptions {
	width: 100%;
	padding-right: 1rem;
	max-height: 188px;
	overflow: hidden;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-bottom: 16px;
}
.chatbotOptions::-webkit-scrollbar {
	width: 3px;
	border-radius: 8px;
}
.chatbotOptions::-webkit-scrollbar-track {
	background: #787878;
}
.chatbotOptions::-webkit-scrollbar-thumb {
	background-color: #787878;
	border-radius: 20px;
	border: 4px solid #fff;
}

.chatbotOptionsLists {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}
.chatbotOptionsListsEnd {
	align-items: flex-end;
}
.OptionsLists > span {
	border: 1px solid #fff;
	padding: 12px;
	border-radius: 16px;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.4px;
}
.OptionsLists:hover > span {
	background-color: #17574B;
	color: #fff;
	border-color: #17574B;
}
.chatbotOptionsSelected p {
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.4px;
	word-break: break-word;
	background: #17574B;
	border-radius: 0px 16px 16px 16px;
	padding: 12px;
}
.chatTime {
	font-size: 12px;
	color: #C6E2D5;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.3px;
}
.userReply {
	border-radius: 16px 16px 0px 16px;
	background: var(--neutral-greens, #C6E2D5);
	padding: 12px;
	font-size: 16px;
	color: #17574B;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.4px;
	margin-left: 1.5rem;
}
.chatbotTextbox {
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: -16px;
	margin-right: -16px;
	background: rgba(18, 18, 18, 0.65);
	padding: 16px 32px;
}
.inputControl {
	border-radius: 16px 16px 0px 16px;
	background: rgba(255, 255, 255, 0.90);
	backdrop-filter: blur(20px);
	width: 100%;
	padding: 8px 16px;
	font-size: 16px;
	color: #121212;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.4px;
}
.inputControl::placeholder {
	color: #787878;	
}
.chatbotTextbox span {
	position: absolute;
	right: 48px;
    top: 50%;
    transform: translateY(-50%);
}
/* Journey */
.JourneyBanner {
    padding: 72px 0 165px 0;
}
.JourneyBanner {
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.JourneyBanner:after {
	content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 72px 0 165px 0;
    background: linear-gradient(0deg, rgba(0, 49, 37, 0.80) 0%, rgba(0, 49, 37, 0.80) 100%);
}
.JourneyParaText {
	font-size: 28px;
	font-weight: 400;
	line-height: 35px;
	font-variant: small-caps;
	letter-spacing: 0.7px;
	color: #fff;
	position: absolute;
	left: auto;
	bottom: -56px;
    z-index: 1;
    line-height: 3.5;
}
.JourneyParaText > span {
	font-size: 40px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: 6px;
	text-transform: uppercase;
	display: block;
	color: #17574B;
}
.linkJourney {
	border: 1px solid #17574B;
	padding: 12px 32px;
	font-family: "AvenirNext";
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.5px;
	display: inline-block;
	transition: 0.25s ease-in-out;
}
.linkJourney:hover {
	background: #17574B;
	color: #fff;
}
.linkJourney:hover svg > path {
	stroke: #fff;
}

@media screen and (max-width: 767px) {
	.gravityBg {
		/* background-image: url(/images/home_banner/home_banner_sm_1.png) !important;
		background-size: contain !important;
    	background-position: 251.91% 80.752% !important; */
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-size: 125.904% 101.752% !important;
		background-position: 97.904% 103.752% !important;
		height: calc( 100dvh - 60px );
	}
	.gravityBg::before {
		width: 307px;
	}
	.gravityBg h2,
	.gravityBg h2 > span {
		font-size: 28px;
		font-style: normal;
		font-weight: 400;
		line-height: 35px;
		font-variant: small-caps;
		letter-spacing: 0.7px;
		margin-top: 80px;
	}
	.chatBox button {
		right: 16px;
    	bottom: 12px;
		z-index: 999;
	}
	.chatbotHeader > button {
		right: 0;
		bottom: 0;
	}
	.gravityBg h2 {
		font-size: 28px;
		line-height: 35px;
		font-variant: small-caps;
		letter-spacing: 0.7px;
		padding-top: 0;
		padding-inline: 16px;
		margin-block: 16px;
	}
	.JourneyParaText,
	.JourneyParaText > span {
		font-size: 28px;	
		line-height: 60px;
	}
	.JourneyParaText {
		bottom: -70px;
	}
	.linkJourney {
		padding: 10px 16px;
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 0.35px;
		margin-top: 32px;
	}
	.JourneyBanner:after,
	.JourneyBanner {
		padding: 72px 0 88px 0;
	}
	.chatBotWidget {
		width: 360px;
	}
	.chatBotWidgettt {
		right: 0.5rem;
	}
	.chatbotOptions {
		max-height: 164px;
	}
}
@media screen and (max-width: 576px) {
	.chatBox {
		z-index: 9999;
	}
	.chatBotWidget {
		width: 100%;
		height: 100%;
		bottom: 0;
		right: -576px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 999;
	}
	.chatbotContent {
		flex-grow: 1;
		/* overflow-y: scroll; */
		overflow-y: hidden;
	}
	.chatBotWidgettt {
		right: 0;
	}
	.chatbotOptions {
		max-height: calc(100vh - 271px);
	}
}
@media screen and (max-width: 520px) {
	.chatbotOptions {
		max-height: calc(100vh - 320px);
	}
}