.staticTermsBanner {
	padding: 193px 0px 80px 0px;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	position: relative;
}
.staticTermsBanner:before {
	content: '';
    width: 100%;
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
	/* background: linear-gradient(180deg, #000 -39.28%, rgba(0, 0, 0, 0.68) -27.55%, rgba(0, 0, 0, 0.00) 43.03%); */
	background: linear-gradient(180deg, #000 -39.28%, rgba(0, 0, 0, 0.68) -11.73%, rgba(0, 0, 0, 0.00) 43.03%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
}
.StaticPage .staticHeadText {
	color: #fff;
	font-size: 40px;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: 6px;
	text-transform: uppercase;
	text-shadow: 0px 4px 10px #000;
}
.staticHeadText > span {
	color: #fff;
}
.faqsTitle {
	font-family: 'Cora';
}
.projectHighlightsFlex {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	position: relative;
}
.projectHighlightsItm {
	position: relative;
	padding: 51px 79px;
	gap: 8px;
}
.projectHighlightsItm:after {
	content: '';
	height: 14px;
    width: 1.5px;
    background: #fff;
	border-left: 2px solid #787878;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(8px, -50%);
}
.projectHighlightsItm:nth-last-of-type(1):after {
	content: none;
}
.highlightsCount {
	font-size: 28px;
	color: #17574B;
	font-weight: 400;
	line-height: 35px;
	font-variant: small-caps;
	letter-spacing: 0.7px;
}
.highlightsDesc {
	/* gap: 8px; */
	font-size: 20px;
	color: #17574B;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.5px;
	font-family: 'AvenirNext';
}
.highlightsDesc > span {
	display: flex;
	/* width: 40px;
	height: 40px; */
	/* padding: 5.625px 8.125px 5.625px 7.5px; */
	justify-content: center;
	align-items: center;
}
.projectParaText {
	margin-block: 24px 80px;
	font-size: 20px;
	color: #121212;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.5px;
	font-family: 'AvenirNext';
	text-align: center;
}
.iconArrowDown {
	background-color: transparent;
	border: 0;
	outline: 0;
}

/* Tabs */
.projectTabs button {
	font-size: 20px;
	color: #787878;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.5px;
	border: 0;
	border-bottom: 1px solid transparent;
	margin-bottom: 8px;
	padding: 0;
	font-family: 'AvenirNext';
	outline: 0;
}
.projectItemBox {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}
.projectItemFlx {
	flex: 0 0 auto;
    width: 48.2%;
	display: flex;
	flex-direction: column;
	padding-bottom: 48px;
}
.projectItemFlx:hover .projectMda::after {
	content: "";
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 57.6%, rgba(0, 0, 0, 0.42) 77.21%, #000 103.92%);
	width: 100%;
	display: block;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
}
.projectItemFlx .projectMda {
	overflow: hidden;
	position: relative;
}
.projectInfoHover {
	z-index: 1;
    position: absolute;
    bottom: -80px;
	padding: 0 24px 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
    transition: bottom 0.5s ease-in-out;
}
.projectItemFlx:hover .projectInfoHover {
	z-index: 1;
    bottom: 0px;
}
.projectInfoHover h4 {
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	color: #fff;
	letter-spacing: 0.5px;
	font-family: 'AvenirNext';
}
.projectInfoHover .logoEffect {
	height: 56px;
	width: 100px;
}
.projectItemFlx .projectMda > img {
	object-fit: cover;
    transition: transform 0.5s ease-in-out;
}
.projectItemFlx:hover .projectMda > img {
	transform: scale(1.038);
}
.projectItemFlx:nth-of-type(even) {
	margin-top: 150px;
}

.projectItemFlx:nth-last-of-type(2) {
	padding-bottom: 0;
}
.projectItemFlx:nth-of-type(2) {
	padding-bottom: 48px;
}
.projectItemFlx:nth-last-of-type(1) {
	padding-bottom: 0;
}
.projectMda img {
	height: 408px;
	object-fit: contain;
}
.projectCnt {
	padding: 1rem;
	font-family: 'AvenirNext';
	width: 100%;
}
.projectCnt h4 {
	font-size: 20px;
	color: #121212;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.5px;
	margin-bottom: 1rem;
}
.projectInfFlx {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 48px;
	color: #787878;
	white-space: nowrap;
}
.projectInfPlc {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.4px;
}
.projectInfSpn {
	display: flex;
	align-items: center;
	gap: 48px;
}
.projectInfSpn span {
	position: relative;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0.35px;
}
.projectInfSpn span::after {
	content: '';
	height: 12px;
	width: 1px;
	display: inline-block;
    background: #787878;
	position: absolute;
    right: -24px;
    top: 50%;
    transform: translateY(-50%);
}
.projectInfSpn span:nth-last-of-type(1)::after {
	content: none;
}

/* Project Smera */
.gravityBgProject {
	background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc( 100dvh - 163px );
}
.gravityBgProject:after {
	content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc( 100dvh - 163px );
	background-image: linear-gradient(180deg, #000 -1.36%, rgba(0, 0, 0, 0.52) 10.61%, rgba(0, 0, 0, 0.00) 16.34%, rgba(0, 0, 0, 0.23) 96.42%, rgba(0, 0, 0, 0.56) 116.42%);
}
.GravitySmeraBg::after {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) -7.63%, rgba(0, 0, 0, 0.00) 9.56%, rgba(0, 0, 0, 0.00) 41.29%, rgba(0, 0, 0, 0.00) 69.78%, rgba(0, 0, 0, 0.00) 99.71%);
}
.GravityRajankunteBg::after {
	/* background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, #000 -7.63%, rgba(0, 0, 0, 0.52) 9.56%, rgba(0, 0, 0, 0.00) 41.29%, rgba(0, 0, 0, 0.23) 69.78%, rgba(0, 0, 0, 0.76) 99.71%); */
	background: linear-gradient(180deg, #000 -7.63%, rgba(0, 0, 0, 0.02) 11.06%, rgba(0, 0, 0, 0.00) 40.95%, rgba(0, 0, 0, 0.00) 76.51%, rgba(0, 0, 0, 0.76) 109.04%);
}
.GravityForestViewBg::after {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, #000 -7.63%, rgba(0, 0, 0, 0.52) 9.56%, rgba(0, 0, 0, 0.00) 41.29%);
}
.gravityThanisandraBg::after {
	background: linear-gradient(180deg, #000 -7.63%, rgba(0, 0, 0, 0.52) 0.43%, rgba(0, 0, 0, 0.00) 14.3%, rgba(0, 0, 0, 0.23) 90.16%, rgba(0, 0, 0, 0.90) 113.82%);
}
.gavityMaanasaBg::after {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, #000 -7.63%, rgba(0, 0, 0, 0.52) 11.24%, rgba(0, 0, 0, 0.00) 46.06%, rgba(0, 0, 0, 0.00) 74.61%, rgba(0, 0, 0, 0.58) 104.02%);
}
.gravitySundridgeBg::after {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, #000 -7.63%, rgba(0, 0, 0, 0.52) 9.56%, rgba(0, 0, 0, 0.00) 41.29%)
}
.projectLogoMda {
	padding: 4px 18px 4.321px 18px;
}
.projectLogoMdaTxt {
	text-shadow: 0px 0px 9.429px rgba(0, 0, 0, 0.80);
    font-family: Cora;
    font-size: 37.718px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    font-variant: small-caps;
    letter-spacing: 0.943px;
    color: #fff;
	margin-top: -4px;
}
.gravityBgProject h2,
.gravityBgProject h2.projectsRowThanisandra,
.gravityBgProject h2.projectsRowThanisandra span {
	font-size: 40px;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: 6px;
	text-transform: uppercase;
	border-right: 4px solid #17574B;
    padding-right: 1rem;
	text-align: right;
}
.gravityBgProject h2.projectsRowThanisandra,
.gravityBgProject h2.projectsRowThanisandra span {
	border: 0 !important;
	padding: 0;
	text-align: left;
}
.gravityThanisandraBg .projectsRow button {
	position: relative;
	right: 0px;
    top: 0px;
}
.gravityBgProject h2 > span {
	font-size: 28px;
	font-weight: 400;
	line-height: 50px;
	font-variant: small-caps;
	letter-spacing: 0.7px;
	display: block;
	text-transform: capitalize;
}
.projectLogoFlex {
	font-family: "AvenirNext";
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.projectLogoFlex > p {
	font-size: 30px;	
	font-weight: 500;
	line-height: 45px;
	letter-spacing: 0.75px;
	color: #fff;
	font-family: 'AvenirNext';
}
.projectSpanHighlights {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'AvenirNext';
	color: #787878;
	gap: 48px;
	margin-bottom: 40px;
}
.infoStyleIco {
	width: 24px;
    height: 24px;
    display: inline-flex;
	align-items: center;
	justify-content: center;
}
.projectInfoHighlights {
	padding-block: 24px 64px;
}
.projectHeaderScroll {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: scroll;
	margin-bottom: 0;
	gap: 12px;
}
.projectHeader {
	background-color: #121212;
	padding-block: 12px;
	color: #fff;
	position: sticky;
    top: 56px;
	z-index: 3;
}
.projectHeaderScroll::-webkit-scrollbar {
	height: 4px;
	border-radius: 8px;
}
.projectHeaderScroll::-webkit-scrollbar-track {
	background: #121212;
}
.projectHeaderScroll::-webkit-scrollbar-thumb {
	background-color: #ffffff2c;
	border-radius: 20px;
    border: 4px solid  transparent;
}
.projectHeaderScroll li {
	list-style: none;
	padding: 8px 20.5px 4.771px 21.5px;
}
.projectHeaderScroll li a {
	font-size: 14px;
	font-family: 'AvenirNext';
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0.35px;
	border-bottom: 1.5px solid transparent;
	color: #fff;
	cursor: pointer;
}
.projectHeaderScroll li a.projectHeaderLinksActive,
.projectHeaderScroll li:hover a {
	border-bottom: 1.5px solid #FFFFFF;
}
.projectSpanHighlights > span,
.projectSpanHighlights > span h1 {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0.35px;
	position: relative;
}
.projectSpanHighlights > span::after {
	border-left: 1px solid #787878;
	content: '';
	height: 12px;
	width: 1px;
	display: inline-block;
	position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
}
.projectSpanHighlights > span:nth-last-of-type(1)::after {
	content: none;
}
.projectAssets {
	background-color: #EFEFEF;
	color: #121212;
	padding-block: 40px;
}
.projectAssets h6 > span{
	color: #121212;
}
.assetsFlex {
	gap: 5rem;
}
.assetsFlexCol {
	gap: 9px;
}
.assetsFlexMda {
	position: relative;
	width: 80px;
	height: 80px;
	cursor: pointer;
}
.assetsFlexMda:hover svg path {
	fill: #17574B;
}
.assetsFlexCol:nth-of-type(2) .assetsFlexMda:hover svg path,
.assetsFlexCol:nth-of-type(2) .assetsFlexMda:hover svg rect,
.assetsFlexCol:nth-of-type(1) .assetsFlexMda:hover svg path,
.assetsFlexCol:nth-of-type(1) .assetsFlexMda:hover svg rect {
	stroke: #17574B;
}
.assetsFlexCol:hover h6 {
	color: #17574B;
}
.assetsFlexCol h6 {
	font-size: 14px;
	color: #787878;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0.35px;
	font-family: "AvenirNext";
}
.overViewInfo {
	font-family: "AvenirNext";
}
.projectStyleHeading {
	font-size: 40px;
	color: #17574B;
	font-weight: 500;
	line-height: 50px;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-family: 'Cora';
}
.projectStyleHeading span {
	font-family: 'Cora';
	font-size: 28px;
	font-weight: 500;
	line-height: 35px;
	font-variant: small-caps;
	letter-spacing: 0.7px;
	text-transform: capitalize;
}
.projectStyleHeading.projectStyleHeadingBlack span,
.projectStyleHeading.projectStyleHeadingTxtBlc {
	color: #121212;
}
.projectStyleSubHeading {
    font-family: 'Cora';
    font-size: 28px;
    color: #121212;    
    font-weight: 500;
    line-height: 35px;
    font-variant: small-caps;
    letter-spacing: 0.7px;
}
.overViewRera h6 {
	font-size: 13.333px;
	color: #121212;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.333px;
	margin-bottom: 10px;
	font-family: "AvenirNext";
}
.overViewTxt h1 {
	font-size: 28px;
	font-weight: 400;
	line-height: 35px;
	font-feature-settings: "smcp";
	font-variant: small-caps;
	letter-spacing: 0.7px;
	color: #121212;
	font-family: 'Cora';
}
.overViewTxt h1 > span {
	font-size: 40px;
	color: #17574b;
	font-weight: 400;
	line-height: 125%;
	letter-spacing: 6px;
	text-transform: uppercase;
}

.overViewTxt p {
	font-size: 16px;
	font-family: "AvenirNext";
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: #121212;
}
.overViewRera p {
	color: #121212;

	font-size: 11.982px;
	font-weight: 400;
	line-height: 17.973px;
	letter-spacing: 0.3px;
	font-family: "AvenirNext";
}
.overViewTxttext h6,
.overViewTxttext h1 {
	/* font-size: 20px; */
	margin-bottom: 10px;
	/* font-weight: 500; */
	/* line-height: 30px; */
	/* letter-spacing: 0.5px; */
	text-transform: capitalize;
	font-feature-settings: "smpl";
	font-variant: none;
	font-family: 'AvenirNext';

	font-size: 30px;
	font-weight: 500;
	line-height: 45px;
	letter-spacing: 0.75px;
}
.overViewRera p > span {
	color: #17574B
}
.aboutHighlightedLocat {
	display: flex; 
	flex-direction: column;
	gap: 41px;
}
.aboutHighlightedAdr span {
	display: block;
	color: #787878;
	font-size: 20px;
	font-family: 'AvenirNext';
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.5px;
}
.aboutHighlightedNum span {
	display: block;
	font-size: 16px;
	font-family: 'AvenirNext';
	font-weight: 400;
	line-height: 24px;
	color: #17574b;
	letter-spacing: 0.4px;
}
.aboutHighlighted {
	display: flex;
	margin-block: 22px;
}
.aboutHighlighted .projectHighlightFlex {
	flex: 1 0;
}
.aboutHighlighted .projectHighlightFlex > span {
	display: block;
	font-size: 15.053px;
	color: #4A3121;
	font-weight: 500;
	line-height: normal;
	text-transform: normal;
	font-family: "Cora";
}
.smeraColor {
	color: #4A3121 !important;
}
.projectInfoHighlightsUppercase .projectHighlightFlex > span:nth-of-type(2) {
	text-transform: uppercase;
}

/* Eco Villa */
.ecoVillas {
	height: 577px;	
	position: relative;
	background-size: cover;
	background-position: 50%;
}
.ecoVillas::after {
	content: '';
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, #000 -25.51%, rgba(0, 0, 0, 0.52) 1.97%, rgba(0, 0, 0, 0.00) 24.95%, rgba(0, 0, 0, 0.23) 73.1%, rgba(0, 0, 0, 0.76) 103.05%);
	width: 100%;
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.ecoVillas::after {
	content: none;
}
.ecoVillasThan::after {
	content: '';
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, #000 -25.51%, rgba(0, 0, 0, 0.52) 1.97%, rgba(0, 0, 0, 0.00) 24.95%, rgba(0, 0, 0, 0.23) 73.1%, rgba(0, 0, 0, 0.76) 103.05%);
	background-position: -743.264px -654.687px;
    background-size: 157.182% 296.305%;
	width: 100%;
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.ecoVillasContainer {
	display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
	z-index: 1;
	position: relative;
}
.ecoVillasContainer h2 {
	color: #FFF;
	text-align: center;
	font-size: 41.325px;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 62px;
}
.ecoVillasContainer h2 span {
	font-size: 20.33px;
	font-weight: 400;
	line-height: 149.1%;
	display: block;
}

/*  highlight Grid */
.highlightsGrid {
	display: grid;
	grid-auto-rows: 1fr; 
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: 1fr 1fr 1fr; 
	gap: 16px 16px; 
	grid-template-areas: 
		". ."
		". ."
		". .";
}
.gravityAmenitiesSpotlight .highlightsGrid {
	grid-template-rows: 1fr 1fr; 
	grid-template-areas: 
		". ."
		". .";
}
.highlightsGridCol {
	height: 272px;
	position: relative;
	background-color: #919191;
}
.highlightsGridCol::after {
	content: '';
	background: linear-gradient(0deg, rgba(1, 107, 107, 0.10) 0%, rgba(1, 107, 107, 0.10) 100%);
	width: 100%;
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.gravityAmenitiesSpotlight .highlightsGridCol::after {
	content: none;
}
.highlightsGridAranya .highlightsGridCol {
	width: 50%;
}
.highlightsGridAranya .highlightsGridCol:nth-of-type(1) {
	width: 70%;
}
.highlightsGridAranya .highlightsGridCol:nth-of-type(2) {
	width: 30%;
}
.highlightsGridAranya .highlightsGridCol:nth-last-of-type(2) {
	width: 65%;
}
.highlightsGridAranya .highlightsGridCol:nth-last-of-type(1) {
	width: 35%;
}
.highlightsGridCol > img {
	object-fit: cover;
}
.amenitiesFlex {
	padding-block: 24px;
}
.amenitiesFlex span {
	display: inline-block;
	width: 40px;
	height: 40px;
}
.amenitiesFlex p {
	margin-left: 35px;
	font-size: 20px;
	color: #121212;
	font-family: "AvenirNext";
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.5px;
}
.otherProjects .projectItemBox {
	gap: 0;
}
.otherProjects .projectItemFlx {
	width: 100%;
}
.otherProjects .gravityHeadCenter h6 {
	font-size: 28px;
	font-weight: 500;
	line-height: 125%;
	font-variant: small-caps;
	letter-spacing: 0.7px;
}
.otherProjects .gravityHeadCenter h6 > span {
	font-size: 40px;
	font-weight: 500;
	line-height: 50px;
	letter-spacing: 6px;
	text-transform: uppercase;
}
.highlightOverlayTxt {
	z-index: 9;
	position: absolute;
	bottom: 0;
    left: 0;
    right: auto;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background: rgba(18, 18, 18, 0.60);	
	padding: 12.804px 25.609px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.4px;
	font-family: 'AvenirNext';
}
.highlightOverlayTxt::after {
	content: '';
	display: inline-block;
    width: 60px;
    height: 1.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9;
    background: #fff;
}
/* Thanisandra Highlights */
.fontFamilyAvenir {
	font-family: 'AvenirNext';
}
.highlightsGridThanisandra {
	display: flex;
	flex-wrap: wrap;
	gap: 3px 0.15%;
	margin-inline: -0.05%;
}
.highlightsGridColThanisandra {
	flex: 0 0 auto;
    width: 49.85%;
	height: 272px;
	position: relative;
}
.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(3)::after,
.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(4)::after {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
}
.highlightsGridColThanisandra::after {
	content: '';
	background: transparent;
	width: 100%;
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(2) .highlightOverlayTxtThan {
	color: #003125;
	text-align: left;
	max-width: 1140px;
	margin: 0 auto;
}
.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(3) {
	width: 59.85%;
}
.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(4) {
	width: 40%;
}
.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(1),
.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(2) {
	width: 100%;
}
.highlightsGridColThanisandra > img {
	object-fit: cover;
}

.highlightOverlayTxtThan {
	z-index: 9;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 25px;
	color: #fff;	
	font-weight: 500;
	line-height: 37.5px;
	letter-spacing: 0.625px;
	text-transform: uppercase;
	font-family: 'AvenirNext';
}
.highlightOverlayTxtThan::after {
	content: '';
	display: inline-block;
    width: 60px;
    height: 1.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9;
    background: #fff;
}
.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(2) .highlightOverlayTxtThan::after {
	max-width: 1320px;
	content: none;
}
.borderBgCenter {
	display: inline-block;
	position: relative;
}
.borderBgCenter::after {
	content: '';
	display: inline-block;
    width: 60px;
    height: 1.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9;
    background: #003125;
}

/*  */
.highlistsListss {
	padding-block: 70px;
	position: relative;
}
.highlistsListss::after {
	content: '';
	width: 100%;
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
	background: rgba(17, 60, 52, 0.93);
}
.highlistsListsGrids {
	width: 100%;
	height: 385px;
}

/* Gallery */
.videoGalleryDv video {
	height: 468px;
	object-fit: cover;
}
.gravityBgProj {
	background-repeat: no-repeat;
    display: flex;
    justify-content: center;
	align-items: center;
	text-align: center;
    height: calc( 100dvh - 210px );
}
.gravityBgProj::after {
	content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc( 100dvh - 210px );
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
}
.gravityBgProj h2 {
	font-family: 'AvenirNext';
	font-size: 25.533px;
	color: #fff;
	font-weight: 400;
	line-height: 31.9px;
	font-variant: small-caps;
	letter-spacing: 3.83px;
}

/* gravityPricingStyle */
.gravityPricingStyle {
	padding-block: 40px;
	background-color: #EBEBEB;
	position: relative;
}
.pricing_flex_block {
	background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
	font-family: 'AvenirNext';
}
.price_plan_text {
	font-family: 'AvenirNext';
	font-size: 30px;
	color: #17574B;
	font-weight: 500;
	line-height: 45px;
	letter-spacing: 0.75px;
}
.pricing_villa_box {
	font-family: 'Cora';
	padding: 1rem 2rem;
    font-size: 28px;
	color: #17574B;
	font-weight: 500;
	line-height: 35px;
	font-variant: small-caps;
	letter-spacing: 0.7px;
    text-align: center;
    background: #C6E2D5;
}
.pricing_flex_blockSmera .pricing_villa_box {
	background: #EFE1CA;
	color: #4A3121;
}
.pricing_flex_blockaatha .pricing_villa_box {
	background: #C6E2D5;
	color: #4A3121;
}
.pricing_villa_content p {
    font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.5px;
    color: #323232;
}

@media screen and (max-width: 1400px) {
	.projectInfFlx {
		/* .projectInfSpn */
		gap: 8px;
		flex-wrap: wrap;
	}
	.projectInfSpn {
		order: 0;
	}
	.projectInfPlc {
		order: 1;
	}
}

@media screen and (max-width: 991px) {
	.projectItemFlx {
		flex: 0 0 auto;
		width: 47.5%;
	}
}

@media screen and (max-width: 768px) {
	/* projects */
	.staticTermsBanner {
		padding: 421px 24px 16px;
	}
	.StaticPageAll .staticTermsBanner {
		background-size: cover !important;
		background-position: 50% !important;
	}
	.StaticPageAll .staticTermsBanner::before {
		background: linear-gradient(180deg, #000 -39.28%, rgba(0, 0, 0, 0.68) 0.92%, rgba(0, 0, 0, 0.00) 50.93%, rgba(0, 0, 0, 0.54) 110.55%, rgba(0, 0, 0, 0.67) 123.53%);
	}
	.staticHeadText {
		text-align: center !important;
		font-size: 28px;
		line-height: 35px;
		font-variant: small-caps;
		letter-spacing: 0.7px;
	}
	.projectHighlightsFlex {
		gap: 0;
	}
	.projectHighlightsItm {
		padding: 32px 16px 0;
	}
	.highlightsCount {
		font-size: 20px;
		line-height: 25px;
		font-variant: small-caps;
		letter-spacing: 3px;	
	}
	.highlightsDesc {
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		letter-spacing: 0.35px;
	}
	.highlightsDesc > span {
		padding: 0;
		width: 24px;
		height: 24px;
	}
	.highlightsDesc > span > svg {
		width: 100%;
		height: 17px;
	}
	.projectHighlightsItm:after {
		transform: translate(2px, -50%);
	}
	.projectParaText {
		margin-block: 40px;
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 0.35px;
		padding-inline: 1rem;
	}
	.projectHighlights .iconArrowDown {
		margin-bottom: 40px !important;
	}
	.projectItemFlx .projectMda::after {
		/* background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 62.95%, rgba(0, 0, 0, 0.42) 79%, #000 104.84%); */
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 57.6%, rgba(0, 0, 0, 0.42) 81.81%, #000 106.31%)
	}
	.projectItemFlx .projectInfoHover {
		z-index: 1;
		bottom: 0px;
		padding: 0 16px 8px;
	}
	.projectItemFlx .projectMda {
		height: 269px !important;
		width: 100% !important;
	}
	.projectInfoHover h4 {
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0.3px;
	}
	.projectTabs button {
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 0.35px;
	}
	.projectItemBox {
		flex-direction: column;
		width: 100%;
		flex-wrap: wrap;
		gap: 24px;
	}
	.projectItemFlx {
		width: 100%;
		padding-bottom: 0 !important;
	}
	.projectCnt {
		padding-top: 8px;
	}
	.projectCnt h4 {
		font-size: 14px;
		font-weight: 500;
		line-height: 21px;
		letter-spacing: 0.35px;
	}
	.projectInfFlx {
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}
	.projectInfSpn {
		order: 0;
	}
	.projectInfSpn span,
	.projectInfPlc {
		font-size: 12px;		
		line-height: 18px;
		letter-spacing: 0.3px;
	}
	.projectInfPlc {
		order: 1;
	}
	.projectInfPlc span {
		width: 16px;
		height: 16px;
		display: inline-block;
	}
	.projectInfPlc span > svg {
		width: 16px;
		height: 16px;
	}
	.projectItemFlx:nth-of-type(even) {
		margin-top: 0px;
	}
	.gravityBgProject {
		/* background-position: top right; */
		height: calc( 100dvh - 85px );
	}
	.gravityBgProject:after {
		background-image: linear-gradient(180deg, #000 -7.63%, rgba(0, 0, 0, 0.52) 9.56%, rgba(0, 0, 0, 0.00) 41.29%, rgba(0, 0, 0, 0.23) 62.91%, rgba(0, 0, 0, 0.76) 83.76%);
	}
	.gravityBgProject.GravityRajankunteBg::after {
		background: linear-gradient(180deg, #000 -28.89%, rgba(0, 0, 0, 0.52) -28.89%, rgba(0, 0, 0, 0.00) -27.87%, rgba(0, 0, 0, 0.00) 65.2%, rgba(0, 0, 0, 0.76) 100%);
	}
	.gravityBgProject.GravityForestViewBg::after {
		background: linear-gradient(180deg, #000 -33.43%, rgba(0, 0, 0, 0.52) -33.43%, rgba(0, 0, 0, 0.00) -32.37%, rgba(0, 0, 0, 0.32) -0.88%, rgba(0, 0, 0, 0.00) 45.74%, rgba(0, 0, 0, 0.76) 100%);
	}
	.gravityBgProject.gravitySundridgeBg::after {
		background: linear-gradient(180deg, #000 -33.43%, rgba(0, 0, 0, 0.52) -33.43%, rgba(0, 0, 0, 0.00) -32.37%, rgba(0, 0, 0, 0.32) -0.88%, rgba(0, 0, 0, 0.00) 45.74%, rgba(0, 0, 0, 0.76) 100%);
	}
	.gravityBgProject.GravityRajankunteBg .projectsRow h2,
	.gravityBgProject.gavityMaanasaBg .projectsRow h2,
	.gravityBgProject.GravityForestViewBg .projectsRow h2,
	.gravityBgProject.gravitySundridgeBg .projectsRow h2 {
		width: 100%;
		margin-top: 100px;
		border: 0;
		padding-left: 0;
		text-transform: uppercase;
		text-align: center;
	}
	.gravityBgProject.GravityRajankunteBg .projectsRow h2 {
		font-size: 30.716px;
		font-weight: 500;
		line-height: 125%;
		letter-spacing: 4.607px;
	}
	.gravityBgProject.gavityMaanasaBg .projectsRow h2,
	.gravityBgProject.GravityForestViewBg .projectsRow h2,
	.gravityBgProject.gravitySundridgeBg .projectsRow h2 {
		font-size: 29.22px;
		font-weight: 500;
		line-height: 125%;
		letter-spacing: 4.383px;
		width: 85%;
		margin: 0 auto;
	}	
	.gravityBgProject.GravityRajankunteBg .projectsRow h2 span {
		font-size: 21.501px;
		font-weight: 500;
		line-height: 26.877px;
		font-variant: small-caps;
		letter-spacing: 0.538px;
	}
	.gravityBgProject.gavityMaanasaBg .projectsRow h2 span,
	.gravityBgProject.GravityForestViewBg .projectsRow h2 span,
	.gravityBgProject.gravitySundridgeBg .projectsRow h2 span {
		font-size: 20.454px;
		font-weight: 500;
		line-height: 25.567px;
		font-variant: small-caps;
		letter-spacing: 0.511px;
	}
	.gravityBgProject h2,
	.gravityBgProject h2 > span {
		font-size: 14px;
		font-weight: 500;
		line-height: 21px;
		font-variant: small-caps;
		letter-spacing: 0.35px;
		font-family: 'AvenirNext';
		text-transform: capitalize;
	}
	.gravityBgProject h2 {
		text-align: left;
		border-right: 0;
		border-left: 4px solid #17574B;
		padding-inline: 1rem 0;
		margin-top: 56px;
	}
	.gravityBgProject {
		justify-content: space-between;
	}
	.GravityAranyaBg {
		background-position: -180.915px 2.952px !important;
		background-size: 193.32% 174.525% !important;		
		background-image: url(/images/projects/aranya/banner_sm.webp) !important;
	}
	.GravityAranyaBg::after {
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) -7.63%, rgba(0, 0, 0, 0.26) 9.56%, rgba(0, 0, 0, 0.00) 41.29%, rgba(0, 0, 0, 0.11) 62.91%, rgba(0, 0, 0, 0.38) 83.76%);
	}
	.GravitySmeraBg {
		background-position: -141.309px 0px !important;
		background-size: 179.211% 100% !important;
		background-image: url(/images/projects/smera/banner_sm.webp) !important;
	}
	.GravitySmeraBg::after {
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.39) -7.63%, rgba(0, 0, 0, 0.20) 9.56%, rgba(0, 0, 0, 0.00) 41.29%, rgba(0, 0, 0, 0.09) 62.91%, rgba(0, 0, 0, 0.30) 83.76%);
	}
	.GravityRajankunteBg {
		background-position: -720.242px 0px !important;
		background-size: 315.077% 114.444% !important;
	}
	.GravityForestViewBg {
		background-position: 50% !important;
		background-size: cover !important;
	}
	.gravityThanisandraBg {
		background-size: 212.342% 100% !important;
		background-position: -219.667px 0px !important;
	}
	.gavityMaanasaBg {
		background-position: 50% !important;
		background-size: cover !important;
		/* background: linear-gradient(180deg, #000 -33.43%, rgba(0, 0, 0, 0.52) -33.43%, rgba(0, 0, 0, 0.00) -32.37%, rgba(0, 0, 0, 0.32) -0.88%, rgba(0, 0, 0, 0.00) 45.74%, rgba(0, 0, 0, 0.76) 100%) */
	}
	.gravitySundridgeBg {
		background-position: -606.841px 0px !important;
		background-size: 324.203% 100% !important;

	}
	.projectsContainer,
	.projectsRow {
		height: 100%;
	}
	.projectLogoFlex {
		align-items: center;
		justify-content: flex-end;
		height: 100%;
		gap: 16px;
		padding-bottom: 24px;
	}
	.projectLogoFlex > p {
		font-size: 14px;
		font-weight: 500;
		line-height: 21px;
		letter-spacing: 0.35px;
	}
	.projectSpanHighlights {
		gap: 0;
		justify-content: space-between;
	}
	.projectSpanHighlights > span::after {
		/* right: 0%; */
		/* transform: translate(0%, -50%); */
		right: -8px;
	}
	.projectSpanHighlights > span {
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0.3px;
		white-space: nowrap;
		text-align: center;
		flex: 1 0;
	}
	.projectInfoHighlights .projectSpanHighlights:nth-of-type(2) {
		flex-direction: column;
		gap: 12px;
		margin-bottom: 24px;
	}
	.projectInfoHighlights .projectSpanHighlights:nth-of-type(2) span > svg {
		width: 1rem;
		height: 1rem;
	}
	.projectInfoHighlights .projectSpanHighlights:nth-of-type(2) span:nth-of-type(1)::after {
		content: none;
	}
	.assetsFlexMda,
	.assetsFlexMda > svg {
		width: 56px;
		height: 56px;
	}
	.assetsFlex {
		gap: 40px;
	}
	.overViewRera p,
	.overViewTxt p {
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 0.35px;	
	}
	.overViewRera p > span {
		word-break: break-all;
	}
	.highlightsGridCol {
		width: 100% !important;
		height: 188px;
	}
	.highlightsGridCol:nth-of-type(3),
	.highlightsGridCol:nth-of-type(6) {
		width: 100% !important;
	}
	.highlightOverlayTxt {
		padding: 12.804px 25.609px;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0.3px;
	}
	.highlightsGrid {
		gap: 16px;
	}
	.amenitiesFlex {
		padding-block: 0 16px;
	}
	.amenitiesFlex span {
		display: inline-block;
		width: 28px;
		height: 28px;
	}
	.amenitiesFlex span > svg {
		width: 28px;
		height: 28px;
	}
	.amenitiesFlex p {
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		letter-spacing: 0.35px;
		margin-left: 12px;
	}
	.gravityBgProject:after {
		height: calc(100dvh - 85px);
	}
	.gravityThanisandraBg::after {
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.52) -64.35%, #000 -45.13%, rgba(0, 0, 0, 0.00) 17.67%, rgba(0, 0, 0, 0.23) 72.28%, rgba(0, 0, 0, 0.76) 93.21%);
	}
	.gravityThanisandraBg .projectLogoFlex {
		height: auto;
	}
	.gravityBgProject.gravityThanisandraBg h2 {
		margin-top: 140px;
		margin-left: 30px;
	}
	.gravityBgProject h2.projectsRowThanisandra {
		font-size: 21.501px;
		font-weight: 500;
		line-height: 26.877px;
		font-variant: small-caps;
		letter-spacing: 0.538px;
	}
	.gravityBgProject h2.projectsRowThanisandra span {
		font-size: 30.716px;
		font-weight: 500;
		line-height: 125%;
		letter-spacing: 4.607px;
		text-transform: uppercase;
	}
	.spacer__0 {
		height: 0;
	}
	.gavityMaanasaBg::after {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, #000 -7.63%, rgba(0, 0, 0, 0.52) 9.56%, rgba(0, 0, 0, 0.00) 41.29%);
	}
	.gravitySundridgeBg::after {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, #000 -7.63%, rgba(0, 0, 0, 0.52) 9.56%, rgba(0, 0, 0, 0.00) 41.29%)
	}
	.projectAssetsTxt .overViewTxt p {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.4px;
	}
	.otherProjects .gravityHeadCenter h6,
	.completedProjects .gravityHeadCenter h6 {
		margin-bottom: 40px !important;
	}
	.projectStyleHeading {
		font-size: 28px;
		font-weight: 500;
		line-height: 35px;
		font-variant: small-caps;
		letter-spacing: 0.7px;
		text-transform: capitalize;
		text-align: center;
	}
	.overViewRera h6 {
		font-size: 14px;
		font-weight: 500;
		line-height: 21px;
		letter-spacing: 0.35px;
	}
	.overViewTxt h1 > span {
		font-size: 28px;
		font-weight: 400;
		line-height: 35px;
		letter-spacing: 0.7px;
	}
	.gravityAmenitiesGrid {
        padding-top: 16px;
    }
	.price_plan_text {
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		letter-spacing: 0.35px;
		text-align: center;
	}
	.pricing_villa_box {
		font-family: 'Cora';
		padding: 8px 32px;
		font-size: 14px;
		font-weight: 500;
		line-height: 21px;
		letter-spacing: 0.35px;
	}
	.pricing_villa_content p {
		font-size: 14px;	
		line-height: 21px;
		letter-spacing: 0;
	}
	.projectLogoMda {
		width: 120px;
		padding: 3.75px 4.5px 3.991px 5.25px;
	}
	.iconArrowDown > svg {
		height: 16px;
		width: 16px;
	}
	.highlightsGrid {
		grid-template-columns: 1fr;
    	grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas:
		"."
		"."
		"."
		"."
		"."
		".";
	}
	.spacer_2_5 {
		height: 24px;
	}
	.gravityAmenitiesSpotlight .highlightsGrid {
		grid-template-rows: 1fr; 
		grid-template-areas: 
			"."
			"."
			"."
			".";
	}
	.videoGalleryDv video {
		height: 293px;
	}
	/* Than Highlights */
	.highlightsGridThanisandra {
		display: flex;
		flex-wrap: wrap;
		gap: 1.2px 0.25%;
	}
	.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(1) {
		background-size: 173.786% 159.276% !important;
		background-position: -150.149px -50.765px !important;
	}
	.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(1)::after,
	.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(2)::after,
	.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(3)::after,
	.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(4)::after {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
	}
	.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(2) {
		background-size: 194.769% 126% !important;
		background-position: -55px -68px !important;		
	}
	.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(2) .highlightOverlayTxtThan {
		text-align: center;
		color: #fff;
	}
	.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(2) .highlightOverlayTxtThan .borderBgCenter::after {
		background: #fff;
	}
	.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(3),
	.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(4) {
		background-size: cover !important;
		background-position: 50% !important;
	}

	.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(3),
	.highlightsGridThanisandra .highlightsGridColThanisandra:nth-last-of-type(1) {
		width: 100%;
	}	
	.highlightsGridThanisandra .highlightsGridColThanisandra:nth-of-type(4),
	.highlightsGridThanisandra .highlightsGridColThanisandra:nth-last-of-type(2){
		width: 49.875%;
	}
	.highlightOverlayTxtThan {
		font-size: 14px;
		font-weight: 500;
		line-height: 21px;
		letter-spacing: 0.35px;
		padding-inline: 25px;
		text-transform: capitalize;
	}
	.highlightOverlayTxtThan::after {
		height: 1px;
		bottom: -4px;
	}
	.projectStyleHeadingSM.projectStyleHeading {
		font-size: 23.558px;
		font-weight: 500;
		line-height: 125%;
		letter-spacing: 3.534px;
		text-transform: uppercase;
	}
	.projectStyleHeadingSM.projectStyleHeading span {
		display: block;
		font-size: 16.491px;
		font-style: normal;
		font-weight: 500;
		line-height: 20.614px;
		font-variant: small-caps;
		letter-spacing: 0.412px;
	}
	.gravityPricingStyle {
		padding-block: 0;
	}
	.overViewInfoThans .gravityPricingStyle {
		padding-top: 40px;
	}
	.otherProjects .gravityHeadCenter h6 > span {
		font-size: 28px;
		font-weight: 400;
		line-height: 35px;
		letter-spacing: 0.7px;	
	}
	.otherProjectsCompleted .gravityHeadCenter h6 div {
		font-size: 16.283px;
		font-weight: 500;
		line-height: 125%;
		font-variant: small-caps;
		letter-spacing: 0.407px;
	}
	.otherProjectsCompleted .gravityHeadCenter h6 > span {
		font-size: 23.261px;
		font-weight: 500;
		line-height: 29.077px;
		letter-spacing: 3.489px;
		text-transform: uppercase;
	}
	.highlistsListss {
		padding-block: 20px;
	}
	.highlistsListsGrids {
		height: 200px;
	}
	.StaticPage .staticHeadText {
		font-size: 28px;
		font-weight: 500;
		line-height: 35px;
		font-variant: small-caps;
		letter-spacing: 0.7px;
	}
	.overViewInfo .overViewTxttext h1 {
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 0.35px;
	}
	.overViewInfo .overViewTxttext p {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.4px;
	}
	.aboutHighlighted .projectHighlightFlex > span {
		font-size: 10px;
		font-weight: 500;
		line-height: normal;
		text-transform: uppercase;
	}
	.aboutHighlighted {
		margin-block: 1rem;
	}
	.overViewRera h6 {
		font-size: 13.333px;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: 0.333px;
	}
	.aboutHighlightedLocat {
		gap: 10px;
	}
	.aboutHighlightedAdr span {
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		letter-spacing: 0.35px;
	}
	/* .ecoVillas {
		background-position: -474.64px 0px;
		background-size: 273.122% 100%;
	} */
	.ecoVillas::after {
		content: '';
		background: linear-gradient(180deg, #000 -25.51%, rgba(0, 0, 0, 0.52) 1.97%, rgba(0, 0, 0, 0.00) 24.95%, rgba(0, 0, 0, 0.23) 73.1%, rgba(0, 0, 0, 0.76) 103.05%), linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
	}
	.ecoVillasContainer {
		padding-inline: 3rem;
	}
	.ecoVillasContainer h2 {
		color: #FFF;
		text-align: center;
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		text-transform: uppercase;
	}
	.ecoVillasContainer h2 span {
		color: #FFF;
		font-size: 11px;
		font-style: normal;
		font-weight: 500;
		line-height: 132.1%;
		text-transform: uppercase;
	}
}